
<% if like %>
    <%= link_to "Unlike", post_like_path(@post, like), :remote => true, :method => :delete, :class => "btn btn-primary" %>
<% else %>
    <%= link_to "Like", post_likes_path(@post), :remote => true, :method => :post, :class => "btn btn-primary" %>
<% end %>

<% ids = @post.likes.pluck(:user_id) %>
<% name = User.where(:id => ids) %>
<span>讚過的人 : </span>
<% name.each do |x| %>
    <span class="label label-success"> <%= x.username %></span>
<% end %>
