<div class="container text-center">
  <h1>CATEGORY</h1>
  <div class="list-group col-md-6 col-md-push-3">
    <% @categories.each do |category| %>
        <%= link_to category.name, category_path(category) ,:class=>"list-group-item"%>
    <% end %>
  </div>
</div>