<div class="container">
  <div class="text-center">
    <h1>CATEGORY</h1>

    <% @categories.each do |category| %>
        <div class="btn-group" role="group" aria-label="...">
          <%= link_to category.name, category_path(category), :class => "btn btn-default" %>
        </div>
    <% end %>
  </div>
  <hr>
  <% if @posts.nil? %>
      <p>尚未有資料</p>
  <% else %>
      <div class="list-group">
        <% @posts.each do |post| %>
            <%= link_to post.name, post_path(post), :class => "list-group-item" %>
        <% end %>
      </div>
  <% end %>

</div>